[Desktop Entry]
Encoding=UTF-8
Name[en_US]=PowerMate
Type=Application
Exec=/usr/bin/powermate
Icon=/usr/share/pixmaps/powermate.png
X-GNOME-Autostart-enabled=true
