#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

build: build-arch build-indep

build-arch: build-stamp

build-indep: build-stamp

build-stamp:
	dh_testdir
	$(MAKE)
	touch $@

clean: do-clean

do-clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	mkdir -p debian/powermate/usr/bin/
	install -m 755 powermate debian/powermate/usr/bin/

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs
	install -m 644 -D 60-powermate.rules debian/powermate/lib/udev/rules.d/60-powermate.rules
	install -m 644 -D debian/powermate.png debian/powermate/usr/share/pixmaps/powermate.png
	install -m 644 -D debian/powermate-autostart.desktop debian/powermate/etc/xdg/autostart/powermate.desktop
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_installdebconf
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install patch unpatch do-clean
